
.NavHead{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-links{
}
.navbar-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar-links li{
    color: white!important;
    list-style: none;
    padding: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

.navbar-links li:hover{
    background-color: rgb(248, 251, 251);
    color: black !important;
    border-radius: 5px;
    cursor: pointer;
}

.disabled{
    opacity: 0.5;
}

.__togglebutton{
    position: absolute;
    top: 1.1rem;
    left: 0.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.__togglebutton .bar{
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.__togglebutton :hover{
    cursor: pointer;
}

.navbar-links span{
    color: white;
    top: 25%;
    position: absolute;
    font-size: 2rem;
    left: 2%;
    }



/* toggle bar responsive */

@media (max-width:500px){

    .__togglebutton{
        display: flex;
    }
    .navbar-links{
        /* display: none; */
        width: 100%;
        font-size: 0.5rem;
        height: 4rem;
        padding-top: 0.5rem;
    } 
    .navbar-links ul {
        /* flex-direction: column; */
        /* width: 100%; */
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-left: 22%;
    }
    .navbar-links span{
    color: white;
    top: 31%;
    position: absolute;
    font-size:1rem;
    left: 2%;
    }
    
    .navbar-links li {
        /* font-size: 0.5rem; */
        /* width: 100%; */
        margin: 0;
        /* text-align: center; */
        font-size: 0.6rem;
        max-width: 38%;
    }
    .navbar-links.active{
        display: flex;
    }
}