
.NavHead{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.brand-title{
    color: white;
    font-size: 3rem;
    padding: 1rem;
}


.navbar-links{
    position: sticky;
    top: 0;
    height:10rem
}
.navbar-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar-links li{
    color: white;
    list-style: none;
    padding: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

.navbar-links li:hover{
    background-color: rgb(248, 251, 251);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}


.__togglebutton{
    position: absolute;
    top: 3.1rem;
    left: 0.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.__togglebutton .bar{
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.__togglebutton :hover{
    cursor: pointer;
}




/* toggle bar responsive */

@media (max-width:500px){
    .__togglebutton{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    } 
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .navbar-links li{
        width: 100%;
        margin: 0.2rem;
        text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }
}