*{
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
}

video{
    max-width:100vw;
}

.__VideoPlay{
    position: relative;
}

.content{
    position: absolute;
    width: 100%;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
}
